.cartao{
    width: 100%;
    height: 50%;
    margin: 10px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 4px 14px 0px rgb(0, 0, 0, 0.5);
}