@import '~bootstrap/dist/css/bootstrap.min.css';

.corpo {
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family:  'Arial', sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: #bbbbbb;
}

.mod {
    width: 600px;
    margin: auto;
    margin-bottom: 10px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.nenhuma {
    text-align: center;
    margin: auto;
    color: red;
}

.title {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 4em;
    text-shadow: 3px 5px black;
}

.modal {
    width: 600px;
    text-align: left;
    margin: auto;
}

/*
ul {
    width: 600px;
    margin: auto;
    text-align: left;
    padding: 10px;
    list-style: none;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,.39);
}

button {
    cursor: pointer;
}

li {
    padding: 15px;
    margin: 10px;
    font-size: 1em;
    font-style: italic;
    border-bottom: 2px solid rgba(0,0,0,.2);
}

li>button {
    border: none;
    background-color: white;
    font-size: 1em;
    float: right;
    opacity: 0.6;
    transition: opacity 1s;
}

li>button:hover {
    opacity: 1;
    transition: opacity 1s;
}

.title {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 4em;
    text-shadow: 3px 5px black;
}
.text-center {
    text-align: center;
}

.button {
    margin: 10px;
    background-color: black;
    border: none;
    padding: 20px;
    color: white;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 100;
    padding-left: 50px;
    padding-right: 50px;
}

#modal {
    width: 600px;
    text-align: left;
    margin: auto;
    text-align: center;
    padding:10px;
    list-style: none;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,.39);
}

input {
    width: 100%;
    line-height: 50px;
    text-indent: 10px;
    font-size: 1.2em;
}

.danger {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}
*/