<p>{{ title }}</p>

<ul>
  <p *ngIf="todos.length==0"><small>Não tem nenhuma tarefa hoje!</small></p>
  <li *ngFor="let fagner of todos">{{ fagner.id }} - {{ fagner.todo }} -> <!-- muito doiso isso-->
    <button *ngIf="!fagner.done" (click)="markAsDone(fagner)">Concluir</button> 
    <button *ngIf="fagner.done" (click)="markAsUndone(fagner)">Refazer</button> 
    || <button (click)="remove(fagner)">Remover</button>
  </li>
</ul>

<form [formGroup]="form">
  <fieldset> <!-- Pesquisar fieldset-->
    <label>Tarefa </label>
    <input type="text" placeholder="Titulo da tarefa" maxlength="60" formControlName="title">
    <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine"> <!--Se ele já tentou preencher e deu erro-->
      Este campo deve conter entre 3 e 60 caracteres</small>
    <button [disabled]="form.invalid" (click)="add()">Salvar</button>
  </fieldset>
</form>
