#divChart1{
    display: block;
    width: 500px;
    height: 500px;
    margin: 40px auto auto 30px;
    position: absolute;
}

#divChart2{
    display: block;
    width: 500px;
    height: 500px;
    margin: 40px 30px 800px 800px;
    align-items: left;
    position: absolute;
}
 
canvas{
    overflow: hidden;
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 4px 14px 0px rgb(0, 0, 0, 0.4);
}