@charset "UTF-8";
/*Operações:
    Temos 3 tipos de operações:
        -Numéricas; - As unidades precisam ser compatíveis(= e *)
        -Com cores;
        -Com strings.
*/
h1 {
  font-size: 7px; }

h2 {
  font-size: 3px; }

p {
  font: 10px/8px bold italic serif;
  width: 500px;
  width: 1;
  height: 250px;
  margin-left: 9px;
  font: italic bold 10px/8px;
  font-size: 20px / 22px; }

p {
  color: rgba(255, 255, 0, 0.75); }

p {
  cursor: e-resize; }

p:before {
  content: "Eu tenho 12 moedas"; }

p:before {
  content: "Eu tenho  moedas"; }
