@charset "UTF-8";
/*Mixins
    Permite definir estilos que podem ser reutilizados em toda a folha de estilo

    funcionam mais ou menos como se fossem uma função ou rotina (não retorna valor)
*/
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

h1 {
  color: blue;
  font-size: 14px; }

h1 {
  color: green;
  font-size: 14px; }
