/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
    display: flex;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    background-image: url("src/assets/bg.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    margin: 3% 10% 3% 10%;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    margin: 10px 10px 20px 10px;
    text-align: center;
    color: white;
    font-size: 70px;
    text-shadow: 3px 4px 3px rgb(0, 0, 0, 0.8);
}

p{
    text-align: center;
}

ul{
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgb(0, 0, 0, 0.5);
}

li{
    padding: 15px;
    margin: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.modeButton{
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    float: right;
    opacity: 0.4;
    transition: opacity 1s;
    font-size: 16px;
}

.modeButton:hover{
    opacity: 1;
    transition: opacity 1s;
}

.actionButton{
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 30px auto 20px auto;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
}

.actionButton:disabled{
    opacity: 0.4;
}

.simbol{
    margin-right: 8px;
}

#formulario>form{
    text-align: center;
    margin: 10px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgb(0, 0, 0, 0.5);
}

input{
    width: 90%;
    display: block;
    font-size: 14px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    margin: 10px auto 10px auto;
    line-height: 30px;
    text-indent: 10px;
}

.danger{
    background-color: rgb(229, 152, 152);
    color: white;
    padding: 5px 8px 5px 8px;
    margin: 10px auto 0px auto;
    border-radius: 8px;
    white-space: pre-wrap;
}