//Diretivas de Controle

//Condicional ----- if e else
$template: dark;

header {
    @if ($template == dark) {
        color: #000;
    }
    @else if ($template == blue) {
        color: blue;
    }
    @else {
        color: red;
    }


}

//Por ser uma diretiva é necessário colocar '@'