/* You can add global styles to this file, and also import other style files */
html{
    display: flex;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    background: url("src/assets/bg.PNG") no-repeat center center fixed;
    background-size: 100% 100%;
}

body{
    width: 100%;
    background-color: rgba(0,0,0,0);
}

h1{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    margin: 10px 10px 20px 10px;
    text-align: center;
    color: white;
    font-size: 70px;
    text-shadow: 3px 4px 3px rgb(0, 0, 0, 0.8);
}

h2{
    padding-bottom: 20px;
}

p{
    text-align: center;
}

.btn{
    margin: 15px;
    border-radius: 8px;
}

.simbol{
    margin-right: 8px;
}