<div class="corpo">
    <h1 class="title animate__animated animate__backInDown">{{ title }}</h1>
      <p class="nenhuma" *ngIf="Tarefas.length==0"><small>Não tem nenhuma tarefa!</small></p>
      <ul class="mod tabela animate__animated animate__rubberBand" *ngIf="mode=='list'"><br>
        <li class=" left list-group-item list-group-item-dark" *ngFor="let fagner of Tarefas">
          <strong>{{ fagner.todo.toUpperCase() }}</strong> <!-- muito doido isso -->
          <div class="right">
            <button *ngIf="!fagner.done" (click)="markAsDone(fagner)" class="btn btn-outline-success">
              <i class="far fa-check-circle"></i>
            </button>
            <button *ngIf="fagner.done" (click)="markAsUndone(fagner)" class="btn btn-outline-success">
              <i class="fas fa-check-circle"></i>
            </button>&nbsp;
            <button (click)="remove(fagner)" class="btn btn-outline-danger">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
  
        </li>
      </ul>
  
    <div *ngIf="mode=='add'" class=" animate__animated animate__flipInX">
        <form [formGroup]="form">
          <div class="form-group mod">
            <label for="formGroupExampleInput">---------------------------</label>
            <input type="text" class="form-control" maxlength="60" placeholder="Título da tarefa" formControlName="title">
            <small class="btn-outline-danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">
              Este campo deve conter entre 3 e 60 caracteres<br>
            </small>
          </div>
          <p class="text-center">
            <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="add()">
            <i class="far fa-save"></i> Salvar</button> 
          </p>
        </form>
    </div>
    
    <button type="button" class="btn btn-dark add-button animate__animated animate__fadeInUp" (click)="changeMode('add')" *ngIf="mode=='list'">
      <i class="fas fa-plus-circle"></i>
      NOVA TAREFA
    </button>
  
    <button type="button" class="btn btn-dark add-button animate__animated animate__fadeInUp" (click)="changeMode('list')" *ngIf="mode=='add'">
      <i class="fas fa-times"></i>
      CANCELAR
    </button>
  </div>
  